<template>
    <footer class="mt-4 py-4 border-top small">
        Made by <a href="https://avris.it" target="_blank" rel="noopener">Avris</a>.
        <a href="https://gitlab.com/Avris/Counter" target="_blank" rel="noopener">Published</a>
        under <a href="https://mit.avris.it" target="_blank" rel="noopener">MIT License</a>.
    </footer>
</template>
