/* catamaran-regular - latin */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/catamaran-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/catamaran-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/catamaran-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/catamaran-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/catamaran-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/catamaran-v7-latin-regular.svg#Catamaran') format('svg'); /* Legacy iOS */
}

/* ubuntu-mono-regular - latin */
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/ubuntu-mono-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Ubuntu Mono'), local('UbuntuMono-Regular'),
    url('/fonts/ubuntu-mono-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/ubuntu-mono-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/ubuntu-mono-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/ubuntu-mono-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/ubuntu-mono-v10-latin-regular.svg#UbuntuMono') format('svg'); /* Legacy iOS */
}
