<template>
    <div class="d-flex flex-column vh-100">
        <div class="flex-grow-1">
            <Nuxt/>
        </div>
        <div class="container">
            <Footer/>
        </div>
    </div>
</template>

<style lang="scss">
    @import "assets/style";
</style>
