<template>
    <div>
        <h1>
            <Icon v="tally"/>
            Avris Counter
        </h1>

        <p>
            It's the simplest way to show a counter of visitors on your website – just copy-paste this simple HTML code!
        </p>

        <p>
            We've generated an unique ID for your counter:
            <span class="badge badge-primary">{{ id }}</span>.
            It will be used to keep track of the number of visitors.
        </p>

        <p>
            Simple and anonymous, of course.
        </p>

        <div class="input-group mb-5">
            <textarea id="htmlCode" v-model="htmlCode" class="form-control" rows="3" readonly/>
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-secondary btn-clipboard" data-clipboard-target="#htmlCode">
                    <Icon v="clipboard"/>
                </button>
            </div>
        </div>

        <h2>
            <Icon v="sliders-h"/>
            Customise
        </h2>

        <div class="text-center p-5 bg-light border rounded mb-3 sticky-top">
            <img :src="buildLink('0demo0')"/>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="bg">Background colour:</label>
                    <input id="bg" type="color" v-model="bg" class="form-control">

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" v-model="bgTransparent" id="bgTransparent">
                        <label class="form-check-label" for="bgTransparent">
                            Transparent
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="colour">Font colour:</label>
                    <input id="colour" type="color" v-model="colour" class="form-control">
                </div>

                <div class="form-group">
                    <label for="size">Font size:</label>
                    <input id="size" type="number" v-model="size" min="5" max="80" class="form-control">
                </div>

                <div class="form-group">
                    <label for="digits">Pad to number of digits:</label>
                    <input id="digits" type="number" v-model="digits" min="1" max="24" class="form-control">
                </div>

                <div class="form-group">
                    <label for="initial">Initial value:</label>
                    <input id="initial" type="number" v-model="initial" min="0" max="1000000" class="form-control">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label>Font:</label>
                    <div class="list-group list-group-condensed">
                        <a v-for="f in fonts" href="#"
                           :class="['list-group-item', 'list-group-item-action', {active: f === font}]"
                           @click.prevent="font=f"
                           @keydown.down.prevent="nextFont"
                           @keydown.up.prevent="prevFont"
                        >
                            {{ f }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { makeId } from '../src/helpers';
    import ClipboardJS from 'clipboard';

    const defaults = {
        bg: '#76036f',
        colour: '#fcecfb',
        size: 24,
        digits: 6,
        initial: 0,
        font: 'CuteFont',
    }

    const fonts = [
        'AmaticSC',
        'Catamaran',
        'Corben',
        'CormorantGaramond',
        'CuteFont',
        'CutiveMono',
        'EastSeaDokdo',
        'Fascinate',
        'FingerPaint',
        'IndieFlower',
        'Merriweather',
        'Metamorphous',
        'Montserrat',
        'PoiretOne',
        'Quicksand',
        'Righteous',
        'SquadaOne',
        'Tangerine',
        'UbuntuMono',
    ];

    export default {
        data() {
            return {
                id: makeId(6),
                defaults,
                ...defaults,
                bgTransparent: false,
                fonts,
            };
        },
        mounted () {
            new ClipboardJS('.btn-clipboard');
        },
        methods: {
            buildLink(id) {
                const url = new URL(process.env.BASE_URL + '/' + id);
                for (let k in this.defaults) {
                    if (this.defaults.hasOwnProperty(k)) {
                        if ('' + this[k] !== '' + this.defaults[k]) {
                            url.searchParams.set(k, this[k].replace('#', ''));
                        }
                    }
                }
                if (this.bgTransparent) {
                    url.searchParams.set('bg', 'transparent');
                }

                return url.toString();
            },
            nextFont() {
                const index = this.fonts.indexOf(this.font);
                if (index < this.fonts.length - 1) {
                    this.font = this.fonts[index + 1];
                }
            },
            prevFont() {
                const index = this.fonts.indexOf(this.font);
                if (index > 0) {
                    this.font = this.fonts[index - 1];
                }
            },
        },
        computed: {
            htmlCode() {
                return `
<a href="${process.env.BASE_URL}" target="_blank" rel="noopener">
    <img src="${this.buildLink(this.id)}" alt=""/>
</a>
                `.trim();
            }
        },
    };
</script>

<style lang="scss" scoped>
    @import "../assets/style.scss";

    label {
        font-weight: bold;
    }
    textarea {
        resize: none;
        white-space: pre;
        font-family: $font-family-monospace;
    }
    .list-group-condensed {
        .list-group-item {
            padding: $list-group-item-padding-y/2 $list-group-item-padding-x/2;
        }
    }
</style>
